<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <!-- 외부 CSS 파일 로드 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
</head>

<body>
    <div class="animated bounceInDown">
        <div class="container">
            <!-- 로그인 폼 -->
            <form name="form1" class="box" onsubmit="return checkStuff()" method="POST" action="/login">
                <h1>로그인</h1>
                <input type="text" name="userid" placeholder="아이디" required>
                <input type="password" name="password" placeholder="비밀번호" required>
                <input type="submit" value="로그인" class="btn1">
                <input type="button" value="회원가입" class="btn2" onclick="location.href='/signup'">
            </form>
        </div>
    </div>
</body>

</html>
