<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
</head>
<body>
    <div class="animated bounceInDown">
        <div class="container">
            <form name="form1" class="box" onsubmit="return checkStuff()" method="POST" action="/login">
                <h1>로그인</h1>
                <input type="text" name="userid" placeholder="아이디">
                <input type="password" name="password" placeholder="비밀번호">
                <input type="submit" value="로그인" class="btn1">
                <input type="button" value="회원가입" class="btn2" onclick="location.href='/signup'">
            </form>
            <!-- 플래시 메시지 표시 영역 추가 -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="error alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>
