<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입 페이지</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery 추가 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}" />
  <script src="/static/js/signup.js" defer></script>
  <style>
    .error-text {
      color: red;
    }

    .success-text {
      color: green;
      display: none; /* 초기에는 숨김 */
    }

    .btn-id-check {
      padding: 10px 20px;
      background-color: #4B89DC;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }

    .btn-id-check:hover {
      background-color: #0056b3;
    }
  </style>
</head>

<body id="particles-js">
  <div class="animated bounceInDown">
    <div class="container">
       <!-- 플래시 메시지를 표시할 영역 -->
       {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
         <ul class="flash-messages">
           {% for category, message in messages %}
             <li class="{{ category }}">{{ message }}</li>
           {% endfor %}
         </ul>
         {% endif %}
       {% endwith %}
      <form name="form1" class="box" method="POST" action="/signup">
        <h1><span>회원가입</span></h1>
        <div class="id-container">
          <input type="text" id="id" name="userid" placeholder="아이디 입력(6~20자)" autocomplete="on" />
          <button type="button" class="btn3" onclick="checkUsername()">중복 확인</button>
        </div>
        <div id="usernameCheckResult" class="error-text"></div>
        <input type="password" name="password" placeholder="비밀번호를 입력해 주세요" id="pwd1" autocomplete="off" />
        <div id="pwCheckResult" class="error-text" style="display:none;"></div>
        <input type="password" name="password_ch" placeholder="비밀번호 재입력" id="pwd2" autocomplete="off" />
        <input type="text" name="username" placeholder="이름을 입력해 주세요" autocomplete="on" />
        <input type="text" name="tel" placeholder="전화번호를 입력해 주세요" autocomplete="on" />
        <input type="text" name="email" placeholder="이메일을 입력해 주세요" autocomplete="on" id="email" />
        <div id="emailCheckResult" class="error-text" style="display:none;"></div>
        <input type="text" name="address" placeholder="주소를 입력해 주세요(시, 구)" autocomplete="on" />
        <span id="msg" class="error-text" style="display: none"></span>
        <div class="position">
          <select id="position" name="position">
            <option value="" disabled selected>직책</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <input type="submit" value="회원가입" class="btn1" />
        <input type="button" value="취소" class="btn2" onclick="location.href='http://127.0.0.1:5000/'" />
      </form>
      <div id="successMessage" class="success-text">가입이 완료되었습니다. 로그인 페이지로 이동합니다.</div>
    </div>
  </div>
</body>

</html>
